@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+KR:wght@300;400;500;700&family=Song+Myung&display=swap');
/* font-family: 'Song Myung', serif; */
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/********************** 글로벌 설정 *********************/
:root {
  --main-bg-color: #FFFbf4;
  --main-point-color:rgb(255, 136, 0);
  --main-font-color:rgb(61, 61, 58);
}
html,
body {
    font-size: 16px;
   font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--main-bg-color);
}
.wrapper {
    width: 1368px;
    margin: auto;
    position: relative;
}
.wrapper--lg {
    width: 1568px;
    margin: auto;
    position: relative;
}
.wrapper--xl {
    width: 1768px;
    margin: auto;
    position: relative;
}
.wrapper--all {
    max-width: 2560px;
    margin: auto;
    position: relative;
}

/********************** header *********************/
.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10em 0;
	transform: scale(1);
  
}
.header__logo{
	width:80%;
	display: flex;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.header__title{
	font-size: 7em;
	color: var(--main-font-color);
}
.header__title:nth-child(1){
letter-spacing: 0.04em;
font-weight: 500;
}
.header__title:nth-child(3){
	font-size: 8em;
letter-spacing: 0.04em;
}
.header__circle{
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background-color: var(--main-point-color);
}
/********************** main*********************/
.main{
    width: 100%;
    height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/********************** 반응형 설정 *********************/

/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
@media (max-width: 1799px) {
    .wrapper-xl {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1599px) {
    .wrapper-lg {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1399px) {
    .wrapper {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
