@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+KR:wght@300;400;500;700&family=Song+Myung&display=swap');
/* font-family: 'Song Myung', serif; */
/* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/********************** 글로벌 설정 *********************/
:root {
    --main-bg-color: #fcf7f4;
    --main-point-color: rgb(255, 136, 0);
    --main-font-color: rgb(67, 64, 62);
}

body {
    width: 100%;
    height: 1000vh;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;

}
.basket{
    width: 23%;
    background-color: blue;
}
.main{
    width: 77%;
   
}

.bt-slide {
    background-color: var(--main-font-color);
    color: var(--main-point-color);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 150px;
    z-index: 99;
    border-radius: 50%;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bt-slide.left {
    left: 55px;
}

.bt-slide.right {ß
    right: 55px;
}

/********************** header *********************/
.header {
    width: 100%;
    display: flex;
    `  /* justify-content: flex-end; */
    align-items: flex-end;
    flex-direction: column;
    border: 1px solid var(--main-font-color);
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 8em;
}
.header__logo {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    /* transform: scale(1);    */
}
.header__title {
    font-weight: 400;
    font-size: 7em;
    color: var(--main-font-color);
}
.header__title:nth-child(1) {
    letter-spacing: 0.08em;
}
.header__title:nth-child(3) {
    font-weight: bolder
    font-size: 8em;
    letter-spacing: 0.01em;
}
.header__circle {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 0 2em;
    background-color: var(--main-point-color);
}
.write{
    /* z-index: 2; */
    cursor: pointer;
}

/**************navi ***********/


/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
/********************** 반응형 설정 *********************/
@media (max-width: 1799px) {
    .wrapper-xl {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1599px) {
    .wrapper-lg {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1399px) {
    .wrapper {
        width: calc(100% - 2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}

