/********************** global *********************/
.header--front{
	z-index: 999;
	background-color:var(--main-bg-color);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	/* top:0; */
	transform:scale(1.2);
}
.header--front .header__logo{
	width:60%;
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
}


/********************** gallery *********************/
.gallery{
	width: 80%;
		display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3em;
	position: relative;
}
.gallery__info{
	width: 100%;
	border: 1px solid red;
	padding: 0.75em;
	background-color: rgb(187, 187, 212);
	height: 2em;
	position: absolute;
	top: -4em;
}
.gallert__title{
	color: var(--main-font-color);
}
.gallery__view{
		border: 1px solid red;
	height: 5em;
}


/********************** advice-wrapper *********************/
/**********************footer-wrapper *********************/
/********************** 글로벌 설정 *********************/
/********************** 글로벌 설정 *********************/
/********************** 글로벌 설정 *********************/
/********************** 글로벌 설정 *********************/