/*****************global **************/
.toggle{
display: flex;
justify-content: space-around;
}
.toggle__switch{
	width: 4em;
margin: 1em;
border:1px solid hotpink;
padding: 0.5em;
/* overflow: hidden; */
position: relative;
font-size: 1em;
}
.selected{
	cursor: pointer;
	display: flex;
	justify-content: center;
}
.not-selected{
	margin: .5em;
}
.select-things{
	text-align: center;
background-color: #fff;
    position: absolute;
		left: -10%;
    width: 109%;
   margin: .4em;
    cursor: pointer;
    display: none;
    z-index: 1;
}

/**********option--late***********/

/***********option--map*************/


